<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rate Potty Home</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>

    <div class="mx-auto" style="width: 800px;">
        <h1>Home</h1>
        <p>Map  https://support.google.com/mymaps/answer/3024454?hl=en&amp%3Bref_topic=3188329 </p>
        <img src="https://www.customsigns.com/media/catalog/product/cache/3/image/600x600/9df78eab33525d08d6e5fb8d27136e95/1/9/191-funny-ada-braille-men-and-women-restroom-sign-6-x-6.png" alt="Potty Sign"> 
    </div>
</html>